.main__content {
    margin-top: 350px;
    margin-left: 250px;
    margin-bottom: 200px;
    }
    
    .main__title {
    font-size: 45px;
    letter-spacing: 1px;
    }
    
    .main__text {
    width: 400px;
    font-size: 20px;
    }
    
    /* images */
    .content {
    position: relative;
    z-index: 5;
    padding: 100px 0;
    }
    
    .content__item {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 100px;
    }
    
    .content__item:nth-child(2n) {
    flex-direction: row-reverse;
    }
    
    .content__info {
    width: 400px;
    }
    
    .content__title {
    font-size: 25px;
    margin-bottom: 15px;
    }
    
    .content__text {
    margin-bottom: 15px;
    }
    
    .content__link {
    text-decoration: underline;
    }

    .feedback-form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 400px;
        padding: 12px;
        margin-bottom: 16px;
    }

    .feedback-form label {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
    }

    .feedback-form button {
        cursor: pointer;
        font: inherit;
        padding: 8px 12px;
    }

    .feedback-form button:hover {
        background-color: aqua;
    }

    input, textarea {
        padding: 8px;
        font: inherit;
    }

    